---
---
$header-bg-color: #f9f71e;
$header-bg-color-secondary: #fff0fb;
$section-headings-color: #ff8cd7;
@import "{{ site.theme }}";
.page-header {
  background-image: linear-gradient(120deg, $header-bg-color-secondary, #d3bf4e, 30%,$header-bg-color);
}
.btn{
  color:#ffa3ff;
  font-family:"メイリオ";
  &:hover {
    color:#ff8cd7;
    font-weight: bold;
  }
}

.gotomisskirara{
  color:#f9f71e;
  background-color:#ff8cd7;
    &:hover {
    color:#f9f71e;
    background-color:#ff8cd7;
  }
}
